@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --azul_escuro:#0E2954;
    --azul_medio:#1F6E8C;
    --azul_esverdeado:#2E8A99;
    --azul_cinza:#84A7A1;
    --white: #ffffff;
    --light:#F6F4EB;
    --LightSkyBlue: #87CEFA;
}

label{
    color: var(--light);
    font-size: 1rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    width: 80%;
}

.titleCadastro{
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem 0;
}

.container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 20px;
    
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.inputbox {
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.inputbox input{
    width: 100%;
}

.divButton{
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    height: 50px;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: var(--azul_escuro);
    color: var(--light);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

span{
    color: var(--light);
    font-size: .8rem;
}