@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --azul_escuro: #0E2954;
  --azul_medio: #1F6E8C;
  --azul_esverdeado: #2E8A99;
  --azul_cinza: #84A7A1;
  --white: #ffffff;
  --light: #F6F4EB;
  --LightSkyBlue: #87CEFA;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 2rem  0;
}

.titleContato{
 font-size: 3rem;
}

.form-contact {
    width: 100%;
    font-family: "Ubuntu", Times, serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 1rem;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Ubuntu", Times, serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: var(--azul_escuro);
    display: block;
    border: none;
    border-bottom: 1px solid var(--azul_medio);
    border-right: 1px solid var(--azul_medio);
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}

.divVideo{
    display: flex;
    justify-content: center;
    align-items: center;

}

