@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --azul_escuro: #0E2954;
  --azul_medio: #1F6E8C;
  --azul_esverdeado: #2E8A99;
  --azul_cinza: #84A7A1;
  --white: #ffffff;
  --light: #F6F4EB;
  --LightSkyBlue: #87CEFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--azul_medio);
  /*background-image: linear-gradient(147deg, #1F6E8C 0%, #84A7A1 74%);*/
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 2rem 0;
}

header {
  height: 10%;
  background-color: var(--azul_escuro);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1,
h2 {
  font-family: 'Cabin Sketch', cursive;
  color: var(--light);
}

.imgLogo {
  padding: .4rem;
  width: 6rem;
}

.sub-menu {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sub-menu a {
  float: left;
  font-size: 1.3rem;
  min-width: 90px;
  color: #F6F4EB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .5s;
}

.active {
  background: #1F6E8C;
}

.sub-menu-nav {
  float: left;
  overflow: hidden;
}

.sub-menu-nav .nav-btn {
  cursor: pointer;
  min-width: 120px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all .5s;
}

.sub-menu a:hover,
.sub-menu-nav:hover .nav-btn {
  background-color: #1F6E8C;
}

.sub-menu-alt {
  display: none;
  position: absolute;
  background-color: #2C3E50;
  z-index: 1;
}

.sub-menu-alt a {
  min-width: 90px;
  float: left;
  color: white;
  text-decoration: none;
}

.sub-menu-alt a:hover {
  background-color: #eee;
  color: #000;
}

.sub-menu-nav:hover .sub-menu-alt {
  display: block;
}

.footer {
  width: 100%;
  margin-bottom: 0;
  background-color: var(--azul_escuro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}

.paragraphFooter {
  font-size: 1rem;
  color: #F6F4EB;
}

.logoFooter {
  width: 32px;

}